HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### VPVP ###
*.log
application-local.yml
.env

# Database dumps
db_dump/
*.backup

# IntelliJ IDEA
out/
*.iml
src/test/resources/invoices/Goodyear - Copy (2).xml
src/test/resources/invoices/Goodyear - Copy.xml
src/test/resources/invoices/Goodyear.xml
src/test/resources/invoices/Michelin.xml
src/test/resources/invoices/Nokian.xml
src/test/resources/invoices/Shell.xml
